* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

body {
  background-color: #F4E6CD;
  margin: 0px;
  font-family: 'Kalam', cursive;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: black; }

.grid {
  display: grid;
  grid-template-rows: 5% 80% 5%;
  grid-template-areas: "navbar" "main" "footer"; }

header {
  display: block;
  top: 0;
  width: 100%;
  height: 70px;
  grid-area: navbar; }
  header nav {
    text-transform: uppercase;
    font-size: 25px; }
    header nav .navbar-brand {
      padding-left: 10px;
      margin-right: 0%; }
    header nav a {
      transition: 5s; }
    header nav a:hover {
      text-decoration: underline; }
    header nav .is-current {
      text-decoration: underline; }
  header .navbar {
    flex-wrap: nowrap;
    padding: 0%; }

main {
  display: block;
  text-align: center;
  font-size: 25px;
  grid-area: main; }
  main h1 {
    text-align: center;
    font-size: 35px; }
  main .borde-redondo {
    border-radius: 16px; }

.container {
  margin-top: 5%;
  margin-bottom: 5%; }

footer {
  display: block;
  padding: 20px;
  margin-bottom: 0;
  width: 100%;
  grid-area: footer;
  background-color: #F0DDBC; }
  footer p {
    display: inline-block;
    font-size: 25px;
    bottom: 0%;
    margin-bottom: 0%; }
  footer a {
    display: inline-block; }
    footer a img {
      padding: 5px;
      transition: 5ms; }
    footer a img:hover {
      width: 34px;
      height: auto; }

#footer {
  justify-content: flex-end; }

/* Index */
#foto {
  width: 75%;
  height: auto; }

/* Perfil */
h3 {
  text-align: center;
  margin-top: 0%;
  padding-bottom: 2%;
  font-size: 25px; }

div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  div .perfil, div .bio {
    width: 432px;
    height: 539px;
    border-radius: 16px; }
  div .bio {
    background-color: #F0DDBC;
    margin: 0%;
    padding: 20px;
    font-size: 18px; }

/* Videos */
.img-thumbnail {
  background: none;
  border: 0; }

/* Noticias */
p {
  margin-bottom: 5%; }
  p img {
    width: 60%; }

/* Contacto */
form {
  background-color: #ecd4aa;
  border-radius: 16px;
  display: inline-block;
  padding: 20px; }
  form div {
    display: flex;
    flex-direction: column; }

/* Media queries */
@media screen and (max-width: 425px) {
  header {
    height: 50px; }
    header nav {
      font-size: 12px; }
      header nav a #logo {
        width: 24px;
        height: 24px; }
  main {
    font-size: 12px; }
    main h1 {
      font-size: 20px; }
    main #titulo {
      margin-top: 10%; }
    main h3 {
      font-size: 15px; }
    main .perfil, main div .bio, div main .bio {
      width: 60%;
      height: auto;
      margin-bottom: 5px; }
    main .bio {
      font-size: 10px;
      margin-top: 5px;
      padding: 10px; }
    main .img-thumbnail {
      max-width: 60%; }
  footer a {
    padding: 2px; }
    footer a img {
      width: 16px;
      height: 16px; } }
