* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

body {
  background-color: #F4E6CD;
  margin: 0px;
  font-family: 'Kalam', cursive;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: black; }

.grid {
  display: grid;
  grid-template-rows: 5% 80% 5%;
  grid-template-areas: "navbar" "main" "footer"; }

header {
  display: block;
  top: 0;
  width: 100%;
  height: 60px;
  grid-area: navbar;
  background-color: #f0ddbce5;
  padding-bottom: 0%; }
  header nav {
    text-transform: uppercase;
    font-size: 25px; }
    header nav .navbar-brand {
      padding-left: 10px;
      margin-right: 0%; }
    header nav a {
      transition: 5s; }
    header nav a:hover {
      text-decoration: underline;
      color: rgba(0, 0, 0, 0.664); }
    header nav .is-current {
      text-decoration: underline; }
  header .navbar {
    flex-wrap: nowrap;
    padding: 0%; }

main {
  display: block;
  text-align: center;
  grid-area: main;
  margin-top: 5%;
  margin-bottom: 5%; }
  main h1 {
    margin-top: 3%;
    margin-left: 8%;
    text-align: left;
    font-size: 35px;
    margin-bottom: 2%; }

.margin-top-0 {
  margin-top: 0%; }

.padding-top {
  padding-top: 2%; }

footer {
  display: block;
  padding: 20px;
  margin-bottom: 0;
  width: 100%;
  grid-area: footer;
  background-color: #f0ddbce5; }
  footer p {
    display: inline-block;
    font-size: 25px;
    bottom: 0%;
    margin-bottom: 0%; }
  footer a {
    display: inline-block; }
    footer a svg {
      color: black;
      width: 32px;
      height: 32px;
      padding: 5px;
      transition: 5ms; }
    footer a svg:hover {
      padding: 0%;
      width: 36px;
      height: 36px; }

#footer {
  justify-content: flex-end; }

/* Index */
#foto {
  width: 100%;
  height: auto;
  padding-bottom: 10%; }

.noticias {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 10%; }
  .noticias div {
    width: 100%; }
    .noticias div h2 {
      padding-bottom: 3%;
      text-transform: uppercase; }
    .noticias div a {
      width: 120px;
      height: auto;
      border-radius: 20px; }
    .noticias div p {
      padding-bottom: 3%;
      border-bottom-color: black;
      border-bottom-style: solid;
      border-bottom-width: 2px; }
    .noticias div .margin-left {
      margin-left: 30%; }

/* Perfil */
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: justify; }
  section .perfil, section .bio {
    width: 432px;
    height: 539px;
    border-radius: 16px; }
  section .bio {
    background-color: #F0DDBC;
    padding: 20px; }
  section .datos {
    font-size: 13px; }

/* Videos */
/* Noticias */
p {
  margin-bottom: 5%; }
  p img {
    width: 60%; }
  p .borde-redondo {
    border-radius: 16px; }

/* Contacto */
#fondo {
  background-image: url(../images/Agus.jpg); }

form {
  width: 300px;
  height: 450px;
  background-color: #ecd4aac5;
  border-radius: 16px;
  display: inline-block;
  padding: 20px;
  margin-top: 2%; }
  form div {
    display: flex;
    flex-direction: column; }

/* Media queries */
@media screen and (max-width: 425px) {
  header {
    height: 40px; }
    header nav {
      font-size: 12px; }
      header nav #logo {
        width: 24px;
        height: 24px; }
  main {
    font-size: 10px;
    margin-top: 5%; }
    main #foto {
      margin-top: 4%;
      margin-bottom: 4%; }
    main h1 {
      margin-top: 5%;
      font-size: 20px; }
    main section {
      line-height: 1.2; }
      main section h3 {
        font-size: 15px; }
      main section .perfil, main section .bio {
        width: 60%;
        height: auto;
        margin-bottom: 5px; }
      main section .bio {
        margin-top: 5px;
        padding: 10px; }
      main section .datos {
        font-size: 8px; }
    main iframe {
      width: 60%;
      height: auto; }
    main form {
      margin-top: 5%;
      width: 60%;
      height: auto; }
      main form .btn {
        font-size: 10px; }
      main form .form-control {
        font-size: 10px; }
  #fondo {
    background-image: none; }
  footer p {
    font-size: 12px; }
  footer a svg {
    padding: 2px;
    width: 16px;
    height: 16px; }
  footer a svg:hover {
    padding: 0%;
    width: 18px;
    height: 18px; } }
