@import "_base";
@import "_layout";

/* Index */

#foto {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
}
.noticias {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    div {
        width: 100%;
        h2 {
            padding-bottom: 3%;
            text-transform: uppercase;
        }
        a {

            width: 120px;
            height: auto;
            border-radius: 20px;
        }
        p {
            padding-bottom: 3%;
            border-bottom-color: black;
            border-bottom-style: solid;
            border-bottom-width: 2px;
        }
        .margin-left {
            margin-left: 30%;
        }
    }

}


/* Perfil */

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: justify;
    .perfil {
        width: 432px;
        height: 539px;
        border-radius: 16px;
    }
    .bio {
        @extend .perfil;
        background-color: #F0DDBC;
        padding: 20px;
    }
    .datos {
        font-size: 13px;
    }
}

/* Videos */



/* Noticias */

p {
    margin-bottom: 5%;
    img {
        width: 60%;
    }
    .borde-redondo {
        border-radius: 16px;
    }
}

/* Contacto */

#fondo {
    background-image: url(../images/Agus.jpg);
}
form {
    width: 300px;
    height: 450px;
    background-color: #ecd4aac5;
    border-radius: 16px;
    display: inline-block;
    padding: 20px;
    margin-top: 2%;
    div {
        display: flex;
        flex-direction: column;
    }
}

/* Media queries */

@media screen and (max-width: 425px) {
    header {
        height: 40px;
        nav {
            font-size: 12px;
            #logo {
                width: 24px;
                height: 24px;
            }  
        }
    }
    main {
        font-size: 10px;
        margin-top: 5%;
        #foto {
            margin-top: 4%;
            margin-bottom: 4%;
        }
        h1 {
            margin-top: 5%;
            font-size: 20px;
        }
        section {
            line-height: 1.2;
            h3 {
                font-size: 15px;
            }
            .perfil {
                width: 60%;
                height: auto;
                margin-bottom: 5px;
            }
            .bio {
                margin-top: 5px;
                padding: 10px;
            }
            .datos {
                font-size: 8px;
            }
        }
        iframe {
            width: 60%;
            height: auto;
        }
        form {
            margin-top: 5%;
            width: 60%;
            height: auto;
            .btn {
                font-size: 10px;
            }
            .form-control {
                font-size: 10px;
            }
        }
    }
    #fondo {
        background-image: none;
    }
    footer {
        p {
            font-size: 12px;
        }
        a {
            svg {
                padding: 2px;
                width: 16px;
                height: 16px;
            }
            svg:hover {
                padding: 0%;
                width: 18px;
                height: 18px;
            }
        }
    }
}