@import "_base";
@import "_layout";

/* Index */

#titulo {
    padding-bottom: 20px;
}
#foto {
    width: 75%;
    height: auto;
}

/* Perfil */

h3 {
    text-align: center;
    margin-top: 0%;
    padding-bottom: 2%;
    font-size: 25px;
}
div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .perfil {
        width: 432px;
        height: 539px;
        border-radius: 16px;
    }
    .bio {
        @extend .perfil;
        background-color: #F0DDBC;
        margin: 0%;
        padding: 20px;
        font-size: 18px;
    }
}

/* Videos */

.img-thumbnail {
    background: none;
    border: 0;
}

/* Noticias */

p {
    margin-bottom: 5%;
    img {
        width: 60%;
    }
}

/* Contacto */

@mixin background-color {
    background-color: #ecd4aa;
}
form {
    @include background-color;
    border-radius: 16px;
    display: inline-block;
    padding: 20px;
    div {
        display: flex;
        flex-direction: column;
    }
}

/* Media queries */

@media screen and (max-width: 425px) {
    header {
        height: 50px;
        nav {
            font-size: 12px;
            a {
                #logo {
                        width: 24px;
                        height: 24px;
                }
            }    
        }
    }
    main {
        font-size: 12px;
        h1 {
            font-size: 20px;
        }
        #titulo {
            margin-top: 10%;
        } 
        h3 {
            font-size: 15px;
        }
        .perfil {
            width: 60%;
            height: auto;
            margin-bottom: 5px;
        }
        .bio {
            font-size: 10px;
            margin-top: 5px;
            padding: 10px;
        }
        .img-thumbnail {
            max-width: 60%;
        }
    }
    footer {
        a {
            padding: 2px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}



